* {
  box-sizing: border-box;
}
.justify-content-centre {
  text-align: center;
}

.search {
  font-size: 2px;
  text-align: left;
  flex-wrap: wrap;
}
/* .search.search-btn {
  /* text:dark; */
/* text-align: left; */
/* font-size: x-small; */
/* background-color: white; */
/* color: black; */
/* text-align: left; */
/* } */

/* Style the search field */
#form input-group[type="form"] {
  padding: 1px;
  font-size: 17px;
  border: 1px solid grey;
  /* float: left; */
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
.btn-primary button[type="submit"] {
  /* float: left; */
  width: 10%;
  padding: 1px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

#form.btn btn-primary button:hover {
  background: #0b7dda;
  text-align: right;
}

/* Clear floats */
#form::after {
  content: "";
  clear: both;
  display: table;
}
